.boxAntSty {
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #8C85FF;
    border-radius: 15px;
    transition: 0.4s;
    text-decoration: none;
}

.boxAntSty:hover {
    background-color: #F0EFFF;
    transition: 0.4s;
    cursor: pointer;
}