.fondo {
    background-image: url('../media/img_fondo.png');
    background-repeat: round;
    object-fit: cover;
}

.valoresSty {
    width: 20%;
    border: 1px solid #8C85FF;
    border-radius: 20px;
}

.objSty {
    border: 1px solid #673DE6;
    height: 200px;
    text-decoration: none;
    transition: 0.3s;
}

.objSty:hover {
    background-color: #D7C9FF;
    transition: 0.3s;
}

.btnAgendarSty {
    background-color: #673DE6;
    height: 40px;
    width: 80%;
    text-decoration: none;
    color: white;
    border-radius: 15px;
    transition: 0.3s;
}

.btnAgendarSty:hover {
    background-color: #8C85FF;
    transition: 0.3s;
}

.imgPortSty {
    height: 550px;
}

.boxMedSty {
    background-color: #8C85FF;
}

.btnMedSty {
    color: white;
}

@media only screen and (max-width: 992px) {
    .valoresSty {
        width: 40%;
    }
}

@media only screen and (max-width: 782px) {
    .valoresSty {
        width: 100%;
    }

    .btnAgendarSty {
        background-color: white;
        height: 100%;
        color: black;
        border-radius: 0px;
        width: 100%;
    }

    .imgPortSty {
        height: 350px;
    }

    .boxMedSty {
        background-color: #ffffff;
    }

    .btnMedSty {
        color: #673DE6;
    }

}


@media only screen and (max-width: 600px) {
    .imgPortSty {
        height: 250px;
    }
}